/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background: #f4f7f6;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Navbar Styles */
.navbar {
    width: 100%;
    height: 56px; /* Adjust the height as needed */ 
    background: #198754;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Optional: Make the navbar fixed at the top */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.logo img {
    width: 100px;
    height: auto;
}

.form-title {
    font-size: 22px;
    color: #076304;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.login-form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

.form-group input:focus {
    border-color: #379237;
}

.text-danger {
    color: #e3342f;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

/* Password Container */
.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #666;
}

/* Button */
.login-btn {
    background-color: #198754;
    color: #fff;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #333;
}

/* Registration Link */
.register-link {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.register-link a {
    color: #198754;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

thead{
    background-color:#5BC3A2;
    color: #fff
}

